
<div>
    <div class="text-center mt-5 mb-5" style="color: #2c3e50;">
        <div>
            <h2 class="text-uppercase fs-1 fw-bolder mb-2 mt-4">Contact Section</h2>
            <div class="style d-flex justify-content-center align-items-center mb-3">
                <div class="line"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line" style="margin-left: 20px;"></div>
            </div>
        </div>
</div>
<form class="w-50 mx-auto mt-5 ">
    <input placeholder="username" class="form-control border-0 border-bottom mb-5 mt-5" type="text">
    <input placeholder="UserAge" class="form-control border-0 border-bottom mb-5" type="text">
    <input placeholder="userEmail" class="form-control border-0 border-bottom mb-5" type="email">
    <input placeholder="userPassword" class="form-control border-0 border-bottom mb-5" type="password">
    <button class="btn text-white mb-5 mt-3" style="background-color: #1abc9c;">Send Message</button>
</form>