<app-home></app-home>
<app-About></app-About>
<app-Portfolio></app-Portfolio>
<app-contacts></app-contacts>

<footer style="background-color:#2c3e50;" class="text-white p-5" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" style="margin-top: 100px;">
                <h2 class="fs-4 fw-bold">LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p class="mb-5">Clark,MO 65243</p>
            </div>
            <div class="col-md-4  text-center"style="margin-top: 100px;">
                <h2 class="fs-4 fw-bold">AROUND THE WEB</h2>
                <div class="icons mt-3">
                    <i class="fa-brands fa-facebook mx-1 icon"></i>
                    <i class="fa-brands fa-twitter mx-1 icon"></i>
                    <i class="fa-brands fa-linkedin mx-1 icon"></i>
                    <i class="fa-solid fa-globe mx-1 icon"></i>
                </div>
            </div>
            <div class="col-md-4  text-center" style="margin-top: 100px;">
                <h2 class="fs-4 fw-bold">ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
            </div>
        </div>
    </div>
</footer>

