<div class="d-flex justify-content-center align-items-center text-white home">
    <div class="text-center mt-5 mb-5">
        <img src="assets\Images\avataaars.svg" style="width: 300px; text-align: center;">
        <div>
            <h2 class="text-uppercase fs-1 fw-bolder mb-2 mt-4">START FRAMEWORK</h2>
            <div class="style d-flex justify-content-center align-items-center mb-3">
                <div class="line"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line" style="margin-left: 20px;"></div>
            </div>
            <p class="mb-5 fw-bold">Graphic Artist - Web Designer - Illustrator </p>

        </div>
    </div>
</div>